<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

{%- include snippets/get-article-title.html article=page -%}
<title>{%- if __return -%}{{ __return }} - {{ site.title }}{%- else -%}{{ site.title }}{%- endif -%}</title>

<meta name="description"
    content="{%- if page.excerpt -%}{{ page.excerpt | strip_html | strip_newlines | strip | truncate: 160 }}{%- else -%}{{ site.description }}{%- endif -%}">
<link rel="canonical" href="{%- include snippets/page-url.html -%}">

{%- assign _paths_rss = site.paths.rss | default: site.data.variables.default.paths.rss -%}
{%- include snippets/get-nav-url.html path=_paths_rss -%}
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ __return }}">

{%- include head/favicon.html -%}

{%- include snippets/prepend-baseurl.html path='/assets/css/main.css' -%}
<link rel="stylesheet" href="{{ __return }}">

{%- include snippets/get-sources.html -%}
{%- assign _sources = __return -%}
<link rel="stylesheet" href="{{ _sources.font_awesome }}">

{%- include head/custom.html -%}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Dreamer-Paul/Pio@2.4/static/pio.min.css" />
<script defer="defer" src="https://cdn.jsdelivr.net/gh/Dreamer-Paul/Pio@2.4/static/l2d.min.js"></script>
<script defer="defer" src="https://cdn.jsdelivr.net/gh/Dreamer-Paul/Pio@2.4/static/pio.min.js" onload='
    if (screen.width > screen.height)
    {
      let pio_container = document.createElement("div");
      pio_container.classList.add("pio-container");
      pio_container.classList.add("right");
      document.body.insertAdjacentElement("beforeend", pio_container);
      let pio_action = document.createElement("div");
      pio_action.classList.add("pio-action");
      pio_container.insertAdjacentElement("beforeend", pio_action);
      let pio_canvas = document.createElement("canvas");
      pio_canvas.id = "pio";
      pio_canvas.style.width = "11rem";
      pio_canvas.width = "350";
      pio_canvas.height = "900";
      pio_container.insertAdjacentElement("beforeend", pio_canvas);
      let pio = new Paul_Pio({
        "mode": "draggable",
        "hidden": true,
        "content": {
          "skin": ["要换成我的朋友吗？", "让她放个假吧~"],
          "custom": [{
            "selector": "a",
            "type": "link",
          }, {
            "selector": ".item",
            "text": "这是目录~"
          }, {
            "selector": ".article__content",
            "text": "哇，你发现了什么！"
          }, {
            "selector": ".fas",
            "text": "想搜索什么呢？很多干货哦！"
          }, {
            "selector": ".toc--ellipsis",
            "text": "这里是侧边栏的目录~"
          }, {
            "selector": ".article__header",
            "text": "这是标题~"
          }, {
            "selector": ".nav",
            "text": "评论没有审核，要对自己的发言负责哦~"
          }]
        },
        "model": [
          "https:\/\/cdn.jsdelivr.net/gh/imuncle/live2d/model/hibiki/hibiki.model.json",
          "https:\/\/cdn.jsdelivr.net/gh/xiaoski/live2d_models_collection/mikoto/mikoto.model.json"
          ]
      });
    }'></script>